
###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/var
/vendor
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
/.idea/vcs.xml
/public/temp.log
/.idea/practice2021.iml
/.idea/php.xml
/public/compiled
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.xml
/public/Data/
