.form {
    margin-left: 50px;
    display: flex;
}

.box-select,
.signature-select {
    min-width: 250px;
}

.form-input button {
    margin-top: 16px;
}

.form-input div {
    margin-top: 8px;
}

.signature-select {
    margin-top: 20px;
}

.error-message {
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
    float: right;
}

.form textarea {
    margin-top: 20px;
    resize: none;
}

.select-textarea {
    margin-left: 50px;
}